<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <!-- ↑↑↑↑↑↑上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！↑↑↑↑↑↑ -->


    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">
    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!-- Fallback to homescreen for Chrome <39 on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">


    <!-- ↓↓↓↓↓↓something about bootstrap && jquery↓↓↓↓↓↓-->
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <!--<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">-->
    <link href="//cdn.bootcss.com/toastr.js/latest/css/toastr.min.css" rel="stylesheet">
    <!-- 官网地址：http://medialize.github.com/URI.js/=====相关版本信息http://www.bootcdn.cn/URI.js/-->
    <!--<script src="//cdn.bootcss.com/URI.js/1.18.1/URI.min.js"></script>-->
    <!--云之家JS-API能够提供轻应用在云之家中更好的展示和交互，方便轻应用轻松获得云之家的设备能力。轻应用必须应用于云之家APP（注意的是：目前云之家移动端可以使用全部的JS-API接口、桌面端仅有部分接口使用）中，如果脱离了云之家APP，而在其他的浏览器中打开，则不能使用到云之家的JS-API功能。-->
    <script src="http://do.yunzhijia.com/pub/js/qingjs.js"></script>
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/toastr.js/latest/js/toastr.min.js"></script>
    <!-- ↑↑↑↑↑↑something about bootstrap && jquery↑↑↑↑↑↑-->
    <!--<script src="//cdn.bootcss.com/blueimp-md5/2.3.0/js/md5.min.js"></script>-->
    <!--自定义css文件-->
    <!--<link rel="stylesheet" href="stylesheets/common_simple.css">-->
    <!--加载动画-->
    <link rel="stylesheet" href="stylesheets/loading.css">
    <link rel="stylesheet" href="stylesheets/binding/binding.css">
    <title>账号绑定</title>
</head>
<body>
<div class="container">
    <div id="spinner">
        <div class="spinner-container container1">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
        <div class="spinner-container container2">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
        <div class="spinner-container container3">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
    </div>
    <div class="input-group" style="width: 80%;margin: 0 auto;margin-top: 20px">
        <input type="text" class="form-control" >
            <span class="input-group-btn">
            <button class="btn btn-default" type="button">搜索</button>
            </span>
    </div>
    <div class="row" style="margin-top: 20px;padding: 0px 10px">
        <div class="col-xs-12 col-md-4" style="border: solid #3cbaff 1px;border-right-width: 0px;margin-top: 5px">
            <h3 style="width: 100%;background-color: #3cbaff;color: white;padding: 5px">云之家</h3>
            <div style="position: relative;width: 100%;overflow: hidden">
                <!--<h4 style="float: left;width: 30%;padding: 5px">姓名</h4>-->
                <!--<h4 style="float: right;width: 70%;padding: 5px;color: grey">何明星</h4>-->
                <button type="button" class="btn btn-default btn-lg" style="width: 100%;color: green;background-color: aliceblue;border-radius: 0px;font-size: x-large">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>

            </div>
            <!--<div style="position: relative;width: 100%;overflow: hidden">-->
                <!--<h4 style="float: left;width: 30%;padding: 5px">手机号</h4>-->
                <!--<h4 style="float: right;width: 70%;padding: 5px;color: grey">13120428485</h4>-->
            <!--</div>-->
        </div>
        <div class="col-xs-12 col-md-4" style="border: solid #3cbaff 1px;border-right-width: 0px;margin-top: 5px">
            <!--<h3 style="width: 100%;background-color: #3cbaff;color: white;padding: 5px">NC</h3>-->
            <h3 class="btn btn-success" style="width: 100%;padding: 5px">NC</h3>
            <div style="position: relative;width: 100%;overflow: hidden">
                <h4 style="float: left;width: 30%;padding: 5px">姓名</h4>
                <h4 style="float: right;width: 70%;padding: 5px;color: grey">何明星</h4>
            </div>
            <div style="position: relative;width: 100%;overflow: hidden">
                <h4 style="float: left;width: 30%;padding: 5px">手机号</h4>
                <h4 style="float: right;width: 70%;padding: 5px;color: grey">13120428485</h4>
            </div>
            <button type="button" class="btn btn-default" style="width: 100%;border-radius: 0px;background-color: lightgray;color: white">已绑定</button>
        </div>

        <div class="col-xs-12 col-md-4" style="border: solid #3cbaff 1px;margin-top: 5px;border-right-width: 0px">
            <h3 style="width: 100%;background-color: #3cbaff;color: white;padding: 5px">OA</h3>
            <div style="position: relative;width: 100%;overflow: hidden">
                <h4 style="float: left;width: 30%;padding: 5px">姓名</h4>
                <h4 style="float: right;width: 70%;padding: 5px;color: grey">何明星</h4>
            </div>
            <div style="position: relative;width: 100%;overflow: hidden">
                <h4 style="float: left;width: 30%;padding: 5px">手机号</h4>
                <h4 style="float: right;width: 70%;padding: 5px;color: grey">13120428485</h4>
            </div>
            <button type="button" class="btn btn-warning" style="width: 100%;border-radius: 0px">绑定</button>
        </div>
    </div>
    <!-- /input-group -->

</div>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!--自定义js文件-->
<!--<script src="javascripts/roomprice/room_detail.js"></script>-->
</body>
</html>